html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.notepad {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin: 0;
  padding: 0;
}

nav {
  font-family: monospace;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li ul {
    background: #EAF2F8;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    li {
      clear: both;
      width: 200px;
    }
  }
  li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

li {
  display: inline-block;
  width: 200px;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  &:hover {
    background: #dbdbdb;
    cursor: pointer;
  }
}

.tab-list {
  .tab-list-item {
    background-color: #dbdbdb;
  }
}

.active-btn {
  display: inline-block;
  margin: 0;
  padding: 10px;
}