html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.notepad {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  width: 150px;
  display: inline-block;
  background: #dbdbdb;
  line-height: 2em;
  margin: 0 5px;
}

//ul {
//  list-style: none;
//  margin: 0;
//  padding: 0;
//}
//ul li {
//  width: 150px;
//  float: left;
//  background: #dbdbdb;
//  line-height: 2em;
//  text-align: center;
//  margin: 0 5px;
//  cursor: pointer;
//}
//ul li span {
//  display: block;
//}
//ul li ul {
//  display: none;
//}
//
//.show {
//  display: block;
//}